interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/arnotts-biscuits-assorted-creams
  response:
    body:
      string: '{"recordSetTotal":1,"m4":{"p1":"1"},"recordSetStartNumber":0,"recordSetCount":1,"catalogEntryView":[{"a":{"S3":["25.0"],"TEMPERATUREZONE":["Ambient"],"B":["9310072001371"],"S5":["500g"],"O1":["100.0"],"O2":["Made
        in Australia"],"O3":["500g"],"D":["BULKY"],"S7":["To maintain freshness, store
        in a cool, dry place in an airtight, light proof container."],"S9":["96733
        ARNOTT''S B"],"H":["3.5"],"I":["Wheat Flour, Sugar, Vegetable Oil, Compounded
        Chocolate (Contains Milk, Soy), Desiccated Coconut, Raspberry Flavoured Filling
        (Contains: Gelling Agent (E440), Food Acids (E330, E331), Colours (E129, E132)),
        Eggs, Rolled Oats, Cocoa, Milk Solids, Golden Syrup, Salt, Raising Agents
        (E500, E450), Antioxidant (E307), Emulsifier (E322 (from Soy)), Colours (E150c
        (from Wheat), E110, E102), Honey, Orange Oil, Flavour."],"ONLINESALESCHANNELS":["eBay"],"E1":["false"],"O":["G"],"P":["8.0"],"A2":["Contains
        Oats","Contains Milk","Contains Soy","Contains Wheat","May Be Present Sesame","May
        Be Present Nuts","Contains Egg"],"A4":["1.0"],"S":["5.0"],"T":["10.0"],"U":["ea"],"T1":["false"],"T2":["Cream
        & Plain Biscuits"],"R1":["20"],"L2":["false"],"P8":["Entertaining at Home"],"N7":["13.1g,65.7g,4.2%"],"H1":["false"],"P9":["12"],"N50":["0.9g,4.7g,1.9%"],"H2":["false"],"N51":["2.4g,12.1g,10.1%"],"N53":["68mg,341mg,3%"],"F3":["S"],"D1":["15.5"],"N55":["6.7g,33.5g,7.4%"],"WEIGHTEDBYEACH":["false"],"N57":["4.7g,23.3g,6.7%"],"N19":["416kJ,2080kJ,4.8%"],"W1":["false"],"W2":["24.0"],"S2":["20g"]},"p1":{"l4":"5.5","o":"4.0"},"coo":{"op":"N\/A","oa":"Made
        in Australia","ob":"N","os":"Made in Australia","ot":"N","og":"N","oi":"100000702"},"fi":"\/wcsstore\/Coles-CAS\/images\/3\/2\/8\/328874.jpg","im":[{"th":{"pa":"\/wcsstore\/Coles-CAS\/images\/3\/2\/8\/328874-th.jpg"},"fl":{"pa":"\/wcsstore\/Coles-CAS\/images\/3\/2\/8\/328874.jpg"}}],"s9":"42077","m3":[{"dd":"Jan
        2020","a":{"A4":["1.0"],"O3":["500g"],"L2":["false"],"P8":["Entertaining at
        Home"],"W1":["false"],"E1":["false"],"T1":["false"],"T2":["Cream & Plain Biscuits"]},"p1":{"l4":"4.7","o":"4.0"},"fi":"\/wcsstore\/Coles-CAS\/images\/3\/2\/8\/328910.jpg","s9":"34952","k":"","m":"Arnott''s","c1":"ProductBean","n":"Family
        Assorted Biscuits","a1":"BRAND-PRODUCT-VARIANT","p":"328910P","q":1.0,"s":"arnotts-biscuits-family-assorted","t":"\/wcsstore\/Coles-CAS\/images\/3\/2\/8\/328910-th.jpg","u":"17292","pl":"12","t1":"X","u2":"$0.80
        per 100G"},{"a":{"A4":["1.0"],"O3":["500g"],"L2":["false"],"P8":["Entertaining
        at Home"],"W1":["false"],"E1":["false"],"T1":["false"],"T2":["Cream & Plain
        Biscuits"]},"p1":{"o":"4.5"},"fi":"\/wcsstore\/Coles-CAS\/images\/3\/2\/9\/329061.jpg","s9":"42075","k":"","m":"Arnott''s","c1":"ProductBean","n":"Classic
        Assorted Biscuits","a1":"BRAND-PRODUCT-VARIANT","p":"329061P","q":1.0,"s":"arnotts-biscuits-classic-assorted","t":"\/wcsstore\/Coles-CAS\/images\/3\/2\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/sunburst-zooper-dooper-water-ice
  response:
    body:
      string: '{"recordSetTotal":1,"m4":{"p1":"1"},"recordSetStartNumber":0,"recordSetCount":1,"catalogEntryView":[{"a":{"TEMPERATUREZONE":["Ambient"],"S3":["24.0"],"S5":["24
        x 70ml"],"O1":["100.0"],"B":["9300648340300"],"S7":["Ready to freeze."],"O3":["24
        pack"],"S9":["4111 LD & D AUST P\/L"],"H":["28.0"],"I":["Water, Sugar, Food
        Acid (Citric Acid), Flavours, Colours (122, 150d, 110, 102, 123, 133), Preservatives
        (202, 211, 223)."],"ONLINESALESCHANNELS":["eBay"],"E1":["false"],"L":["SKUVantage
        042019"],"O":["mL"],"C3":["Sulphites."],"P":["6.0"],"A2":["Contains Sulphites"],"S":["16.8"],"A4":["1.0"],"T":["10.0"],"U":["ea"],"T1":["false"],"R1":["20"],"L2":["false"],"P8":["Entertaining
        at Home"],"N7":["11.3g,16.2g,4%"],"H1":["false"],"N50":["0g,0g,0%"],"P9":["20"],"N51":["0g,0g,0%"],"H2":["false"],"N53":["14mg,20mg,0.60%"],"D1":["4.0"],"F3":["S"],"N55":["11.1g,15.8g,12%"],"WEIGHTEDBYEACH":["false"],"N57":["0g,0g,0%"],"N19":["179kJ,255kJ,2%"],"W1":["false"],"W2":["23.0"],"S2":["70mL"]},"p1":{"l4":"5.8","o":"4.6"},"coo":{"op":"N\/A","oa":null,"ob":"N","os":null,"ot":"N","og":"N","oi":"100000002"},"fi":"\/wcsstore\/Coles-CAS\/images\/1\/9\/8\/198393.jpg","im":[{"th":{"pa":"\/wcsstore\/Coles-CAS\/images\/1\/9\/8\/198393-th.jpg"},"fl":{"pa":"\/wcsstore\/Coles-CAS\/images\/1\/9\/8\/198393.jpg"}}],"s9":"150872","l6":"<p>Buy
        ''em!<\/p><p>Freeze ''em!<\/p><p>Share ''em!<\/p>","m":"Zooper Dooper","n":"8
        Cosmic Flavours Water Ice 70mL Tubes","p":"198393P","s":"sunburst-zooper-dooper-water-ice","t":"\/wcsstore\/Coles-CAS\/images\/1\/9\/8\/198393-th.jpg","u":"87953","pl":"20","t1":"S","u2":"$0.27
        per 100mL"}]}'
    headers:
      Content-Language: en-US
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/sunburst-zooper-dooper-water-ice
- request:
    body: null
    headers:
    method: GET
    uri: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/coca-cola-soft-drink-coke-375ml-cans-7365777p
  response:
    body:
      string: '{"recordSetTotal":1,"m4":{"p1":"1"},"recordSetStartNumber":0,"recordSetCount":1,"catalogEntryView":[{"a":{"TEMPERATUREZONE":["Ambient"],"O1":["1.0"],"B":["10355","9300675055109","9300675056441","400001456354","9300675000628"],"O3":["24
        pack"],"S7":["Store in a cool place"],"S9":["931858 COCA COLA AMATIL AUST
        P\/L (DIREC","931859 COCA COLA AMATIL AUST P\/L (GHPL)"],"H":["26.0"],"ONLINESALESCHANNELS":["eBay"],"L":["SKUVantage
        022020"],"N20":["161,43,8"],"E1":["false"],"O":["L"],"P":["1.0"],"S":["9.0"],"A4":["1.0"],"T":["10.0"],"U":["ea"],"W":["Contains
        caffeine"],"T1":["false"],"T2":["Cola"],"R1":["20"],"L2":["false"],"P8":["Entertaining
        at Home"],"N50":["0,0,0"],"H1":["false"],"P9":["12"],"N7":["40,10.6,13"],"H2":["false"],"N51":["0,,0"],"N53":["38,10,2"],"D1":["20.0"],"F3":["S"],"N55":["40,10.6,44"],"WEIGHTEDBYEACH":["false"],"N57":["0,0,0"],"N19":["675,180,8"],"W1":["false"],"W2":["26.5"]},"p1":{"l4":"31.8","o":"18.4"},"coo":{"op":"N\/A","oa":"Made
        in Australia from imported and local ingredients","ob":"N","os":"Made in Australia
        from imported and local ingredients","ot":"N","og":"N","oi":"100003946"},"fi":"\/wcsstore\/Coles-CAS\/images\/7\/3\/6\/7365777.jpg","im":[{"th":{"pa":"\/wcsstore\/Coles-CAS\/images\/7\/3\/6\/7365777-th.jpg"},"fl":{"pa":"\/wcsstore\/Coles-CAS\/images\/7\/3\/6\/7365777.jpg"}}],"s9":"29406","l6":"Nothing
        beats the taste of Coca-Cola Classic. It''s the perfect companion whether
        you''re on the go, relaxing at home, enjoying with friends or as a drink with
        your meal. Refresh with the authentic Coke taste. Coca Cola soft drink is
        available in cans, mini cans, single serve and sharing size bottles as well
        as multipacks.<li>Classic Coke Taste<\/li><li>Serve Drink Cold for Maximum
        Refreshment<\/li><li>A Quality Product of The Coca-Cola Company<\/li><li>Multipack
        soft drink, 24 x 375ml Cans<\/li><li>Perfect for drinking on the go, having
        with a meal or relaxing with at home.<\/li>","m":"Coca-Cola","n":"Classic
        Coke Multipack Cans 375mL","p":"7365777P","s":"coca-cola-soft-drink-coke-375ml-cans-7365777p","t":"\/wcsstore\/Coles-CAS\/images\/7\/3\/6\/7365777-th.jpg","u":"20143","pl":"12","t1":"S","u2":"$2.04
        per 1L"}]}'
    headers:
      Content-Language: en-US
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/coca-cola-soft-drink-coke-375ml-cans-7365777p
- request:
    body: null
    headers:
    method: GET
    uri: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/cadbury-caramilk-egg-bag
  response:
    body:
      string: '{"recordSetTotal":1,"m4":{"p1":"1"},"recordSetStartNumber":0,"recordSetCount":1,"catalogEntryView":[{"a":{"TEMPERATUREZONE":["Ambient"],"O1":["100.0"],"B":["9300617288862"],"O3":["230g"],"D":["EASTER"],"S9":["606065
        KRAFT FOODS AUST P\/L SEASONAL EA","618748 CADBURY P\/L"],"H":["14.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/coles-milk-full-cream-439693p
  response:
    body:
      string: '{"recordSetTotal":1,"m4":{"p1":"1"},"recordSetStartNumber":0,"recordSetCount":1,"catalogEntryView":[{"a":{"TEMPERATUREZONE":["Chilled"],"S3":["8.0"],"O1":["1.0"],"B":["93601375","9300601186938","93601047","9300601439690"],"S7":["Keep
        refrigerated. Store at or below 5\u00b0C","Keep refrigerated. Store at or
        below 5\u00b0CrnKeep this way up"],"O3":["2L"],"D":["TEMP"],"S9":["966403
        LD&D AUSTRALIA PTY LTD (DSD)","937068 FONTERRA BRANDS (AUST) P\/L H\/BRA","665240
        NATIONAL FOODS MILK LTD TAS","935382 MURRAY GOULBURN CO-OPERATIVE CO","963888
        BROWNES FOODS OPS P\/L (HOUSEBRAN","963867 PARMALAT FOOD PRODUCTS P\/L (HOUS","959570
        CAPITOL CHILLED FOODS (AUST) P\/L","969385 MURRAY GOULBURN CO-OPERATIVE CO.","37079
        LACTALIS AUSTRALIA P\/L","964585 LACTALIS AUSTRALIA P\/L","950564 FONTERRA
        BRANDS (AUST) P\/L","742007 LACTALIS AUSTRALIA P\/L","965291 HARVEY FRESH
        (1994) LTD MILK (H\/","930769 DAIRY FARMERS DIRECT","974904 SAPUTO DAIRY AUST(SDA3)(CB&PROP","35955
        FONTERRA BRANDS (AUST) P\/L (P&B)","367702 CAPITOL CHILLED FOODS (AUST) P\/L","665282
        LD & D AUST P\/L","937417 DAIRY FARM"],"I1":["false"],"H":["26.0"],"I":["<p>
        Australian Homogenised and Pasteurised Full Cream&nbsp;<strong>Milk<\/strong>.<\/p>"],"L":["201806
        Fusion"],"E1":["false"],"O":["L"],"P":["9.0"],"A2":["Contains MILK"],"A4":["1.0"],"S":["2.0"],"T":["0.0"],"U":["Ea"],"T1":["false"],"T2":["Full
        Cream Milk"],"R1":["20"],"L2":["false"],"P8":["Easter"],"N50":["8.8,3.5,18"],"H1":["false"],"P9":["20"],"H2":["true"],"D1":["10.6"],"F3":["S"],"WEIGHTEDBYEACH":["false"],"N19":["650,260,7"],"W1":["false"],"W2":["10.6"],"S2":["Approximately
        250mL"]},"p1":{"o":"2.39"},"fi":"\/wcsstore\/Coles-CAS\/images\/4\/3\/9\/439693.jpg","coo":{"op":"100","oa":"Australian
        Milk","ob":"Y","os":"Australian Milk","ot":"Y","og":"Y","oi":"100004104"},"im":[{"th":{"pa":"\/wcsstore\/Coles-CAS\/images\/4\/3\/9\/439693-th.jpg"},"fl":{"pa":"\/wcsstore\/Coles-CAS\/images\/4\/3\/9\/439693.jpg"}}],"s9":"33474","m":"Coles","n":"Full
        Cream Milk","p":"439693P","s":"coles-milk-full-cream-439693p","t":"\/wcsstore\/Coles-CAS\/images\/4\/3\/9\/439693-th.jpg","u":"19744","pl":"20","t1":"V","u2":"$1.20
        per 1L"}]}'
    headers:
      Content-Language: en-US
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/coles-milk-full-cream-439693p
- request:
    body: null
    headers:
    method: GET
    uri: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/coles-pasta-fettuccini
  response:
    body:
      string: '{"recordSetTotal":1,"m4":{"p1":"1"},"recordSetStartNumber":0,"recordSetCount":1,"catalogEntryView":[{"a":{"TEMPERATUREZONE":["Ambient"],"S3":["4.0"],"O1":["100.0"],"B":["9310645247182"],"O3":["500g"],"S7":["Once
        opened, store in an airtight containerrnStore in a cool, dry place"],"S9":["651893
        SAN REMO MACARONI CO P\/L HOUSEBR","951699 AIR GUITAR AUSTRALIA","68021 SAN
        REMO MACARONI CO P\/L ACCT 1"],"H":["3.0"],"ONLINESALESCHANNELS":["eBay"],"I":["<p>
        Durum <strong>Wheat <\/strong>Semolina.<\/p>"],"N20":["445,356,"],"E1":["false"],"O":["G"],"P":["20.0"],"A2":["May
        Contain EGG","May Contain SOY","Contains CEREALS CONTAINING GLUTEN"],"A4":["1.0"],"S":["5.0"],"T":["0.0"],"U":["ea"],"T1":["false"],"R1":["20"],"L2":["false"],"P7":["Stove
        ToprnAdd 500g pasta and 1 tbsp of salt to 5 litres of boiling water, cook
        for 10 minutes or to taste.rnrn"],"P8":["Pantry"],"H1":["false"],"N50":["15.0,12.0,30"],"P9":["20"],"N7":["86.9,69.5,28"],"N51":["LESS
        THAN 1g,LESS THAN 1g,3"],"H2":["false"],"N53":["47,37,2"],"D1":["7.1"],"F3":["S"],"N55":["3.6,2.9,4"],"WEIGHTEDBYEACH":["false"],"N57":["2.4,1.9,3"],"N19":["1860,1490,21"],"W1":["false"],"W2":["27.0"],"S2":["125g"]},"p1":{"o":"1.2"},"fi":"\/wcsstore\/Coles-CAS\/images\/3\/3\/2\/3328994.jpg","coo":{"op":"100","oa":"Australian
        Product","ob":"Y","os":"Australian Product","ot":"Y","og":"Y","oi":"100003043"},"im":[{"th":{"pa":"\/wcsstore\/Coles-CAS\/images\/3\/3\/2\/3328994-th.jpg"},"fl":{"pa":"\/wcsstore\/Coles-CAS\/images\/3\/3\/2\/3328994.jpg"}}],"s9":"990135","l6":"Made
        from 100% Australian Durum Wheat  Al dente perfection in 10 minutes","m":"Coles","n":"Fettuccine
        Pasta","p":"3328994P","s":"coles-pasta-fettuccini","t":"\/wcsstore\/Coles-CAS\/images\/3\/3\/2\/3328994-th.jpg","u":"990077","pl":"20","u2":"$0.24
        per 100G"}]}'
    headers:
      Content-Language: en-US
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/coles-pasta-fettuccini
- request:
    body: null
    headers:
    method: GET
    uri: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/sirena-tuna-in-springwater-9442937p
  response:
    body:
      string: '{"recordSetTotal":1,"m4":{"p1":"1"},"recordSetStartNumber":0,"recordSetCount":1,"catalogEntryView":[{"a":{"S3":["4.0"],"TEMPERATUREZONE":["Ambient"],"B":["9350177000282","9300637200301"],"O1":["1.0"],"O3":["425g"],"S9":["730475
        VALCORP FINE FOODS P\/L","971920 ICONIC FOOD DISTRIBUTION PTY LTD"],"H":["7.0"],"ONLINESALESCHANNELS":["eBay"],"I":["Tuna
        71% (Pole and Line Caught Yellowfin), Springwater 29%, Sea Salt"],"E1":["false"],"L":["GS1
        08\/2019"],"O":["Kg"],"P":["12.0"],"A2":["Contains Fish","Free From Sesame
        Seeds","Free From Sulphites","Free From Lupin","Free From Peanuts","Free From
        Crustacea","Free From Wheat","Free From Egg","Free From Cereals","Free From
        Milk","Free From Rye","Free From Tree Nuts","Free From Soybean"],"A3":["Dairy
        Free"],"S":["0.425"],"A4":["1.0"],"T":["0.0"],"U":["ea"],"T1":["false"],"T2":["Tuna
        in Springwater"],"R1":["20"],"L2":["false"],"P8":["Pantry"],"H1":["false"],"P9":["12"],"H2":["false"],"F3":["S"],"D1":["10.1"],"D2":["Omega
        3"],"D3":["69 x 102 x 102mm"],"WEIGHTEDBYEACH":["false"],"W1":["false"],"W2":["10.1"]},"p1":{"o":"7.0"},"fi":"\/wcsstore\/Coles-CAS\/images\/9\/4\/4\/9442937.jpg","coo":{"op":"N\/A","oa":"Product
        of Mixed Origin","ob":"N","os":"Product of Mixed Origin","ot":"Y","og":"N","oi":"100000000"},"im":[{"th":{"pa":"\/wcsstore\/Coles-CAS\/images\/9\/4\/4\/9442937-th.jpg"},"fl":{"pa":"\/wcsstore\/Coles-CAS\/images\/9\/4\/4\/9442937.jpg"}}],"s9":"242502","l6":"For
        purists who love nothing more than the taste of premium quality tuna.","m":"Sirena","n":"Tuna
        In Springwater","p":"9442937P","s":"sirena-tuna-in-springwater-9442937p","t":"\/wcsstore\/Coles-CAS\/images\/9\/4\/4\/9442937-th.jpg","u":"242501","pl":"20","u2":"$16.47
        per 1Kg"}]}'
    headers:
      Content-Language: en-US
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/sirena-tuna-in-springwater-9442937p
- request:
    body: null
    headers:
    method: GET
    uri: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/coles-bakery-bread-white-toast-baked-in-store
  response:
    body:
      string: '{"recordSetTotal":1,"m4":{"p1":"1"},"recordSetStartNumber":0,"recordSetCount":1,"catalogEntryView":[{"a":{"S3":["9.0"],"TEMPERATUREZONE":["Ambient"],"B":["9300601452224"],"O1":["100.0"],"D":["TEMP2","DONUTS","WAVE","TRIAL"],"O3":["680g"],"S9":["656186
        COLES SUPE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/cadbury-caramilk-egg-bag
  response:
    body:
      string: '{"recordSetTotal":1,"m4":{"p1":"1"},"recordSetStartNumber":0,"recordSetCount":1,"catalogEntryView":[{"a":{"TEMPERATUREZONE":["Ambient"],"O1":["100.0"],"B":["9300617288862"],"O3":["230g"],"D":["EASTER"],"S9":["606065
        KRAFT FOODS AUST P\/L SEASONAL EA","618748 CADBURY P\/L"],"H":["14.0"],"E1":["false"],"O":["G"],"P":["14.0"],"S":["2.3"],"A4":["1.0"],"T":["10.0"],"U":["ea"],"T1":["false"],"R1":["20"],"L2":["false"],"P8":["Easter"],"H1":["false"],"P9":["12"],"H2":["false"],"D1":["3.0"],"F3":["S"],"WEIGHTEDBYEACH":["false"],"W1":["false"],"W2":["15.0"]},"p1":{"l4":"8.0","o":"6.0"},"fi":"\/wcsstore\/Coles-CAS\/images\/3\/6\/5\/3655120.jpg","coo":{"op":"N\/A","oa":"Made
        in Australia","ob":"N","os":"Made in Australia","ot":"N","og":"N","oi":"100000702"},"im":[{"th":{"pa":"\/wcsstore\/Coles-CAS\/images\/3\/6\/5\/3655120-th.jpg"},"fl":{"pa":"\/wcsstore\/Coles-CAS\/images\/3\/6\/5\/3655120.jpg"}}],"s9":"1167044","m":"Cadbury","n":"Caramilk
        Egg Bag","p":"3655120P","s":"cadbury-caramilk-egg-bag","t":"\/wcsstore\/Coles-CAS\/images\/3\/6\/5\/3655120-th.jpg","u":"1167014","pl":"12","t1":"S","u2":"$2.61
        per 100G"}]}'
    headers:
      Content-Language: en-US
      Content-Type: application/json
      cached_response: 'true'
    status:
      code: 200
      message: OK
    url: https://shop.coles.com.au/search/resources/store/20601/productview/bySeoUrlKeyword/cadbury-caramilk-egg-bag
[...]
