interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.woolworths.com.au/apis/ui/product/detail/248348
  response:
    body:
      string: "{\"Product\":{\"TileID\":0,\"Stockcode\":248348,\"Barcode\":\"8002560083501\"\
        ,\"GtinFormat\":13,\"CupPrice\":null,\"InstoreCupPrice\":null,\"CupMeasure\"\
        :\"1KG\",\"CupString\":\"\",\"InstoreCupString\":\"\",\"HasCupPrice\":false,\"\
        InstoreHasCupPrice\":false,\"Price\":null,\"InstorePrice\":null,\"Name\":\"\
        Annalisa Beans Red Kidney\",\"UrlFriendlyName\":\"annalisa-beans-red-kidney\"\
        ,\"Description\":\" Annalisa Beans Red Kidney 400g\",\"SmallImageFile\":\"\
        https://cdn0.woolworths.media/content/wowproductimages/small/248348.jpg\"\
        ,\"MediumImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/medium/248348.jpg\"\
        ,\"LargeImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/large/248348.jpg\"\
        ,\"IsNew\":false,\"IsOnSpecial\":false,\"InstoreIsOnSpecial\":false,\"IsEdrSpecial\"\
        :false,\"SavingsAmount\":null,\"InstoreSavingsAmount\":null,\"WasPrice\":0,\"\
        InstoreWasPrice\":0,\"QuantityInTrolley\":0,\"Unit\":\"Each\",\"MinimumQuantity\"\
        :1,\"HasBeenBoughtBefore\":false,\"IsInTrolley\":false,\"Source\":\"ProductDetail\"\
        ,\"SupplyLimit\":5,\"IsRanged\":true,\"IsInStock\":false,\"PackageSize\":\"\
        400g\",\"IsPmDelivery\":false,\"IsForCollection\":false,\"IsForDelivery\"\
        :false,\"IsForExpress\":false,\"ProductRestrictionMessage\":null,\"ProductWarningMessage\"\
        :null,\"CentreTag\":{\"TagContent\":null,\"TagLink\":null,\"FallbackText\"\
        :null,\"TagType\":\"None\"},\"IsCentreTag\":false,\"ImageTag\":{\"TagContent\"\
        :null,\"TagLink\":null,\"FallbackText\":\"\",\"TagType\":\"None\"},\"HeaderTag\"\
        :null,\"HasHeaderTag\":false,\"UnitWeightInGrams\":500,\"SupplyLimitMessage\"\
        :\"'Annalisa Beans Red Kidney' has a supply limit of 5. The quantity in your\
        \ cart has been reduced accordingly. To purchase a larger quantity, please\
        \ contact us on 1800 000 610. Please note we do not supply trade orders.\"\
        ,\"SmallFormatDescription\":\"Annalisa Beans Red Kidney\",\"FullDescription\"\
        :\"Annalisa Beans Red Kidney\",\"IsAvailable\":false,\"InstoreIsAvailable\"\
        :false,\"IsPurchasable\":false,\"InstoreIsPurchasable\":false,\"AgeRestricted\"\
        :false,\"DisplayQuantity\":1,\"RichDescription\":\"Annalisa Fagioli Rossi\"\
        ,\"IsDeliveryPass\":false,\"HideWasSavedPrice\":false,\"SapCategories\":{\"\
        SapDepartmentName\":\"GROCERIES\",\"SapCategoryName\":\"CANNED VEGETABLES\"\
        ,\"SapSubCategoryName\":\"CANNED VEGETABLES\",\"SapSegmentName\":\"RED KIDNEY\
        \ BEANS\"},\"Brand\":\"annalisa\",\"FooterTag\":{\"TagContent\":null,\"TagLink\"\
        :null,\"FallbackText\":null,\"TagType\":\"None\"},\"IsFooterEnabled\":false,\"\
        Diagnostics\":\"0\",\"IsBundle\":false,\"IsInFamily\":false,\"ChildProducts\"\
        :[],\"UrlOverride\":null,\"AdditionalAttributes\":{\"sapdepartmentname\":\"\
        GROCERIES\",\"sapdepartmentno\":\"5\",\"sapcategoryname\":\"CANNED VEGETABLES\"\
        ,\"sapcategoryno\":\"71\",\"sapsubcategoryname\":\"CANNED VEGETABLES\",\"\
        sapsubcategoryno\":\"827\",\"sapsegmentname\":\"RED KIDNEY BEANS\",\"sapsegmentno\"\
        :\"7\",\"specialsgroupid\":null,\"PiesProductDepartmentNodeId\":\"1_39FD49C\"\
        ,\"PiesProductDepartmentsjson\":\"[{\\\"Id\\\":\\\"1_39FD49C\\\",\\\"Description\\\
        \":\\\"Pantry\\\"}]\",\"piesdepartmentnamesjson\":\"[\\\"Pantry\\\"]\",\"\
        piescategorynamesjson\":\"[\\\"Canned Food & Instant Meals\\\"]\",\"piessubcategorynamesjson\"\
        :\"[\\\"Canned Beans & Legumes\\\"]\",\"servingsize-total-nip\":null,\"servingsperpack-total-nip\"\
        :null,\"microwaveable\":\"False\",\"ovencook\":\"False\",\"vegetarian\":\"\
        False\",\"freezable\":\"False\",\"containsnuts\":\"False\",\"containsgluten\"\
        :\"False\",\"description\":\"Annalisa Fagioli Rossi\",\"ingredients\":\"Beans,\
        \ water, salt, calcium cloride\",\"nutritionalinformation\":\"{\\\"Name\\\"\
        :\\\"Nutritional Information\\\",\\\"Attributes\\\":[{\\\"Id\\\":705,\\\"\
        Name\\\":\\\"Carbohydrate Quantity Per 100g - Total - NIP\\\",\\\"Value\\\"\
        :\\\"14.6g\\\",\\\"Description\\\":\\\"Carbohydrate Quantity Per 100g - Total\
        \ - NIP\\\",\\\"SortOrder\\\":83},{\\\"Id\\\":706,\\\"Name\\\":\\\"Carbohydrate\
        \ Quantity Per Serve - Total - NIP\\\",\\\"Value\\\":\\\"17.5g\\\",\\\"Description\\\
        \":\\\"Carbohydrate Quantity Per Serve - Total - NIP\\\",\\\"SortOrder\\\"\
        :87},{\\\"Id\\\":759,\\\"Name\\\":\\\"Energy kJ Quantity Per 100g - Total\
        \ - NIP\\\",\\\"Value\\\":\\\"418.6kJ(100kCal)\\\",\\\"Description\\\":\\\"\
        Energy kJ Quantity Per 100g - Total - NIP\\\",\\\"SortOrder\\\":239},{\\\"\
        Id\\\":760,\\\"Name\\\":\\\"Energy kJ Quantity Per Serve - Total - NIP\\\"\
        ,\\\"Value\\\":\\\"502.3kJ(120kCal)\\\"[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.woolworths.com.au/apis/ui/product/detail/32731
  response:
    body:
      string: "{\"Product\":{\"TileID\":0,\"Stockcode\":32731,\"Barcode\":\"9300675001113\"\
        ,\"GtinFormat\":13,\"CupPrice\":1.44,\"InstoreCupPrice\":1.44,\"CupMeasure\"\
        :\"1L\",\"CupString\":\"$1.44 / 1L\",\"InstoreCupString\":\"$1.44 / 1L\",\"\
        HasCupPrice\":true,\"InstoreHasCupPrice\":true,\"Price\":1.8,\"InstorePrice\"\
        :1.8,\"Name\":\"Coca Cola Bottle \",\"UrlFriendlyName\":\"coca-cola-bottle\"\
        ,\"Description\":\" Coca Cola Bottle  1.25l\",\"SmallImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/small/032731.jpg\"\
        ,\"MediumImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/medium/032731.jpg\"\
        ,\"LargeImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/large/032731.jpg\"\
        ,\"IsNew\":false,\"IsOnSpecial\":true,\"InstoreIsOnSpecial\":true,\"IsEdrSpecial\"\
        :false,\"SavingsAmount\":1.2,\"InstoreSavingsAmount\":1.2,\"WasPrice\":3,\"\
        InstoreWasPrice\":3,\"QuantityInTrolley\":0,\"Unit\":\"Each\",\"MinimumQuantity\"\
        :1,\"HasBeenBoughtBefore\":false,\"IsInTrolley\":false,\"Source\":\"ProductDetail\"\
        ,\"SupplyLimit\":36,\"IsRanged\":false,\"IsInStock\":true,\"PackageSize\"\
        :\"1.25l\",\"IsPmDelivery\":false,\"IsForCollection\":true,\"IsForDelivery\"\
        :true,\"IsForExpress\":false,\"ProductRestrictionMessage\":null,\"ProductWarningMessage\"\
        :null,\"CentreTag\":{\"TagContent\":null,\"TagLink\":null,\"FallbackText\"\
        :null,\"TagType\":\"None\"},\"IsCentreTag\":false,\"ImageTag\":{\"TagContent\"\
        :\"/content/promotiontags/roundel-special-200x200.png\",\"TagLink\":\"\",\"\
        FallbackText\":\"On Special\",\"TagType\":\"None\"},\"HeaderTag\":{\"BackgroundColor\"\
        :\"#fd0\",\"BorderColor\":\"#fd0\",\"TextColor\":\"#000\",\"Content\":\"Save\
        \ $1.20\",\"TagLink\":null,\"Promotion\":\"Special\"},\"HasHeaderTag\":true,\"\
        UnitWeightInGrams\":1320,\"SupplyLimitMessage\":\"'Coca Cola Bottle ' has\
        \ a supply limit of 36. The quantity in your cart has been reduced accordingly.\
        \ To purchase a larger quantity, please contact us on 1800 000 610. Please\
        \ note we do not supply trade orders.\",\"SmallFormatDescription\":\"Coca\
        \ Cola Bottle \",\"FullDescription\":\"Coca Cola Bottle \",\"IsAvailable\"\
        :true,\"InstoreIsAvailable\":true,\"IsPurchasable\":true,\"InstoreIsPurchasable\"\
        :true,\"AgeRestricted\":false,\"DisplayQuantity\":1,\"RichDescription\":\"\
        <div><strong><em>Buy any 2 participating Coca-Cola variety products using\
        \ your Woolworths Rewards card for your chance to WIN tickets to Tokyo 2020.\_\
        </em></strong><a href=\\\"https://www.woolworths.com.au/shop/discover/featured-brands/coca-cola-tokyo-2020\\\
        \"><strong style=\\\"background-color: highlight;\\\"><em>Click here for\_\
        \ more information or T&Cs.</em></strong></a></div><br><br>Coca-Cola Classic\
        \ Soft Drink Bottle 1.25L <br> Nothing beats the taste of Coca-Cola Classic.\
        \ It's the perfect companion whether you're on the go, relaxing at home, enjoying\
        \ with friends or as a drink with your meal. Refresh with the authentic Coke\
        \ taste. Coca Cola soft drink is available in cans, mini cans, single serve\
        \ and sharing size bottles as well as multipacks. <br> Classic Coke Taste\
        \ <br> Serve Drink Cold for Maximum Refreshment <br> A Quality Product of\
        \ The Coca-Cola Company <br> 1.25L Soft Drink <br> Perfect for drinking on\
        \ the go, having with a meal or relaxing with at home.\",\"IsDeliveryPass\"\
        :false,\"HideWasSavedPrice\":false,\"SapCategories\":{\"SapDepartmentName\"\
        :\"GROCERIES\",\"SapCategoryName\":\"CARBONATED SOFT DRINKS\",\"SapSubCategoryName\"\
        :\"SOFT DRINKS - BOTTLES & CANS\",\"SapSegmentName\":\"BOTTLES - 750ML TO\
        \ 1.5L COLA\"},\"Brand\":\"coca cola\",\"FooterTag\":{\"TagContent\":null,\"\
        TagLink\":null,\"FallbackText\":null,\"TagType\":\"None\"},\"IsFooterEnabled\"\
        :false,\"Diagnostics\":\"0\",\"IsBundle\":false,\"IsInFamily\":false,\"ChildProducts\"\
        :[],\"UrlOverride\":null,\"AdditionalAttributes\":{\"sapdepartmentname\":\"\
        GROCERIES\",\"sapdepartmentno\":\"5\",\"sapcategoryname\":\"CARBONATED SOFT\
        \ DRINKS\",\"sapcategoryno\":\"44\",\"sapsubcategoryname\":\"SOFT DRINKS -\
        \ BOTTLES & CANS\",\"sapsubcategoryno\":\"89\",\"sapsegmentname\":\"BOTTLES\
        \ - 750ML TO 1.5L COLA\",\"sapsegmentno\":\"5\",\"specialsgroupid\":null,\"\
        PiesProductDepartmentNodeId\":\"1_5AF3A0A\",\"PiesProductDepartmentsjson\"\
        :\"[{\\\"Id\\\":\\\"1_5AF3A0A\\\",\\\"Description\\\":\\\"Drinks\\\"}]\",\"\
        piesdepartmentnamesjson\":\"[\\\"Drinks\\\"]\",\"piescategorynamesjson\":\"\
        [\\\"Soft Drinks\\\"]\",\"piessubcategorynamesjson\":\"[\\\"Soft Drink Bottles\\\
        \"]\",\"servingsize-total-nip\":null,\"servingsperpack-total-nip\":null,\"\
        microwaveable\":\"False\",\"ovencook\":\"False\",\"vegetarian\":\"False\"\
        ,\"freezable\":\"False\",\"containsnuts\":\"False\",\"containsgluten\":\"\
        False\",\"description\":\"<div><strong><em>Buy any 2 participating Coca-Cola\
        \ variety products using your Woolworths Rewards card for your chance to WIN\
        \ tickets to Tokyo 2020.\_</em></strong><a href=\\\"https://www.woolworths.com.au/shop/discover/featured-brands/coca-cola-tokyo-2020\\\
        \"><strong style=\\\"background-color: highlight;\\\"><em>Click here for\_\
        \ more information or T&Cs.</em></strong></a></div><br><br>Coca-Cola Classic\
        \ [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.woolworths.com.au/apis/ui/product/detail/922933
  response:
    body:
      string: '{"Product":{"TileID":0,"Stockcode":922933,"Barcode":"9300621020533","GtinFormat":13,"CupPrice":0,"InstoreCupPrice":0,"CupMeasure":"0","CupString":"$0.00
        / 0","InstoreCupString":"$0.00 / 0","HasCupPrice":false,"InstoreHasCupPrice":false,"Price":4,"InstorePrice":4,"Name":"Decor
        Microsafe Container Noodle Bowl","UrlFriendlyName":"decor-microsafe-container-noodle-bowl","Description":"
        Decor Microsafe Container<br>Noodle Bowl each","SmallImageFile":"https://cdn0.woolworths.media/content/wowproductimages/small/922933.jpg","MediumImageFile":"https://cdn0.woolworths.media/content/wowproductimages/medium/922933.jpg","LargeImageFile":"https://cdn0.woolworths.media/content/wowproductimages/large/922933.jpg","IsNew":false,"IsOnSpecial":true,"InstoreIsOnSpecial":true,"IsEdrSpecial":false,"SavingsAmount":4,"InstoreSavingsAmount":4,"WasPrice":8,"InstoreWasPrice":8,"QuantityInTrolley":0,"Unit":"Each","MinimumQuantity":1,"HasBeenBoughtBefore":false,"IsInTrolley":false,"Source":"ProductDetail","SupplyLimit":6,"IsRanged":false,"IsInStock":true,"PackageSize":"each","IsPmDelivery":false,"IsForCollection":true,"IsForDelivery":true,"IsForExpress":false,"ProductRestrictionMessage":null,"ProductWarningMessage":null,"CentreTag":{"TagContent":null,"TagLink":null,"FallbackText":null,"TagType":"None"},"IsCentreTag":false,"ImageTag":{"TagContent":"/content/promotiontags/roundel-half-price-200x200.png","TagLink":"","FallbackText":"Half
        Price","TagType":"None"},"HeaderTag":{"BackgroundColor":"#fd0","BorderColor":"#fd0","TextColor":"#000","Content":"Save
        $4.00","TagLink":null,"Promotion":"Special"},"HasHeaderTag":true,"UnitWeightInGrams":144,"SupplyLimitMessage":"''Decor
        Microsafe Container Noodle Bowl'' has a supply limit of 6. The quantity in
        your cart has been reduced accordingly. To purchase a larger quantity, please
        contact us on 1800 000 610. Please note we do not supply trade orders.","SmallFormatDescription":"Decor
        Microsafe Container Noodle Bowl","FullDescription":"Decor Microsafe Container
        Noodle Bowl","IsAvailable":true,"InstoreIsAvailable":true,"IsPurchasable":true,"InstoreIsPurchasable":true,"AgeRestricted":false,"DisplayQuantity":1,"RichDescription":"<div>The
        Decor Microsafe Noodle & Oats Bowl 1.15L is ideal for taking your favourite
        noodle, curry or laksa dish on-the-go. The innovative dome design heats food
        evenly and quickly in the microwave ensuring no annoying cold spots in the
        middle of your meal. The Noodle Bowl also features a useful pouring spout
        which doubles as a handy spoon or chopstick rest. Safe hold easy grip handle
        remains cool to the touch for easy lifting and eating. The smart lid features
        a steam release vent for microwave.\r<br>BPA Free\r<br>Food Safe\r<br>Australian
        Made</div>","IsDeliveryPass":false,"HideWasSavedPrice":false,"SapCategories":{"SapDepartmentName":"GENERAL
        MERCHANDISE","SapCategoryName":"DOMESTICWARE","SapSubCategoryName":"STORAGE","SapSegmentName":"DECOR
        MICROSAFE"},"Brand":"decor microsafe","FooterTag":{"TagContent":null,"TagLink":null,"FallbackText":null,"TagType":"None"},"IsFooterEnabled":false,"Diagnostics":"0","IsBundle":false,"IsInFamily":false,"ChildProducts":[],"UrlOverride":null,"AdditionalAttributes":{"sapdepartmentname":"GENERAL
        MERCHANDISE","sapdepartmentno":"15","sapcategoryname":"DOMESTICWARE","sapcategoryno":"5","sapsubcategoryname":"STORAGE","sapsubcategoryno":"213","sapsegmentname":"DECOR
        MICROSAFE","sapsegmentno":"7","specialsgroupid":"1650","PiesProductDepartmentNodeId":"1_2432B58","PiesProductDepartmentsjson":"[{\"Id\":\"1_2432B58\",\"Description\":\"Household\"}]","piesdepartmentnamesjson":"[\"Household\"]","piescategorynamesjson":"[\"Kitchen\"]","piessubcategorynamesjson":"[\"Food
        Storage Containers\"]","servingsize-total-nip":null,"servingsperpack-total-nip":null,"microwaveable":"False","ovencook":"False","vegetarian":"False","freezable":"False","containsnuts":"False","containsgluten":"False","description":"<div>The
        Decor Microsafe Noodle & Oats Bowl 1.15L is ideal for taking your favourite
        noodle, curry or laksa dish on-the-go. The innovative dome design heats food
        evenly and quickly in the microwave ensuring no annoying cold spots in the
        middle of your meal. The Noodle Bowl also features a useful pouring spout
        which doubles as a handy spoon or chopstick rest. Safe hold easy grip handle
        remains cool to the touch for easy lifting and eating. The smart lid features
        a steam release vent for microwave.\r<br>BPA Free\r<br>Food Safe\r<br>Australian
        Made</div>","ingredients":null,"nutritionalinformation":null,"storageinstructions":null,"usageinstructions":null,"brand":"decor
        microsafe","manufacturer":null,"countryoforigin":null,"productheightmm":null,"productwidthmm":null,"productdepthmm":null,"wool_productpackaging":null,"recyclableinformation":null,"importantinformation":null,"allergencontains":null,"allergenmaybepresent":null,"allergystatement":null,"lifestyleanddietarystatement":null,"lifestyleclaim":null,"wool_dietaryclaim":null,"boxedcontents":null,"suitablefor":null,"fragrance":null,"colour":null,"antioxidant":"False","addedvitaminsandminerals":"False","bpafree":"False","sulfatefree":"False","parabenfree":"False","claims":null,"alcoholfree":null,"anti-dandruff":null,"dermatologicallyapproved":null,"dermatologistrecommended":null,"dermatologisttested":null,"fragrance-free":null,"haircolour":null,"hairtype":null,"hypo-allergenic":null,"non-comedogenic":null,"oilfree":null,"ophthalmologistapproved":null,"ophthalmologisttested":null,"paba-free":null,"skincondition":null,"skintype":null,"soap-free":null,"spf":null,"sweatresistant":null,"timer":null,"waterresistant":null,"phbalanced":null,"antiseptic":"False","antibacterial":"False","activeconstituents":null,"contains":null,"microwavesafe":"False","productimagecount":"5","friendlydisclaimer":null,"productimages":"922933_1.jpg,922933_2.jpg,922933_3.jpg,922933_4.jpg,922933.jpg","healthstarrating":"0","tgawarnings":null,"tgawarning":null},"DetailsImagePaths":["https://cdn0.woolworths.media/content/wowproductimages/large/922933.jpg","https://cdn0.woolworths.media/content/wowproductimages/large/922933_1.jpg","https://cdn0.woolworths.media/content/wowproductimages/large/922933_2.jpg","https://cdn0.woolworths.media/content/wowproductimages/large/922933_3.jpg","https://cdn0.woolworths.media/content/wowproductimages/large/922933_4.jpg"],"Variety":"noodle
        bowl","Rating":{"ReviewCount":0,"RatingCount":0,"OneStarCount":0,"TwoStarCount":0,"ThreeStarCount":0,"FourStarCount":0,"FiveStarCount":0,"Average":0,"OneStarPercentage":0,"TwoStarPercentage":0,"ThreeStarPercentage":0,"FourStarPercentage":0,"FiveStarPercentage":0},"IsSponsoredAd":false,"AdID":null,"AdIndex":null},"Nutrition":null,"VideoUrl":null,"PrimaryCategory":{"Department":"home
        & outdoor","Aisle":"cookware & kitchen","VisualShoppingAisleId":9,"DisplayOrder":14,"OverrideName":null,"Instance":"Alpha"},"AdditionalAttributes":{"sapdepartmentname":"GENERAL
        MERCHANDISE","sapdepartmentno":"15","sapcategoryname":"DOMESTICWARE","sapcategoryno":"5","sapsubcategoryname":"STORAGE","sapsubcategoryno":"213","sapsegmentname":"DECOR
        MICROSAFE","sapsegmentno":"7","specialsgroupid":"1650","PiesProductDepartmentNodeId":"1_2432B58","PiesProductDepartmentsjson":"[{\"Id\":\"1_2432B58\",\"Description\":\"Household\"}]","piesdepartmentnamesjson":"[\"Household\"]","piescategorynamesjson":"[[...]
[...]
