interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.woolworths.com.au/apis/ui/product/detail/38153
  response:
    body:
      string: "{\"Product\":{\"TileID\":0,\"Stockcode\":38153,\"Barcode\":\"8002560200144\"\
        ,\"GtinFormat\":13,\"CupPrice\":null,\"InstoreCupPrice\":null,\"CupMeasure\"\
        :\"1KG\",\"CupString\":\"\",\"InstoreCupString\":\"\",\"HasCupPrice\":false,\"\
        InstoreHasCupPrice\":false,\"Price\":null,\"InstorePrice\":null,\"Name\":\"\
        Annalisa Tomatoes Diced\",\"UrlFriendlyName\":\"annalisa-tomatoes-diced\"\
        ,\"Description\":\" Annalisa Tomatoes Diced 400g\",\"SmallImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/small/038153.jpg\"\
        ,\"MediumImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/medium/038153.jpg\"\
        ,\"LargeImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/large/038153.jpg\"\
        ,\"IsNew\":false,\"IsOnSpecial\":false,\"InstoreIsOnSpecial\":false,\"IsEdrSpecial\"\
        :false,\"SavingsAmount\":null,\"InstoreSavingsAmount\":null,\"WasPrice\":0,\"\
        InstoreWasPrice\":0,\"QuantityInTrolley\":0,\"Unit\":\"Each\",\"MinimumQuantity\"\
        :1,\"HasBeenBoughtBefore\":false,\"IsInTrolley\":false,\"Source\":\"ProductDetail\"\
        ,\"SupplyLimit\":10,\"IsRanged\":false,\"IsInStock\":true,\"PackageSize\"\
        :\"400g\",\"IsPmDelivery\":false,\"IsForCollection\":false,\"IsForDelivery\"\
        :false,\"IsForExpress\":false,\"ProductRestrictionMessage\":null,\"ProductWarningMessage\"\
        :null,\"CentreTag\":{\"TagContent\":null,\"TagLink\":null,\"FallbackText\"\
        :null,\"TagType\":\"None\"},\"IsCentreTag\":false,\"ImageTag\":{\"TagContent\"\
        :null,\"TagLink\":null,\"FallbackText\":\"\",\"TagType\":\"None\"},\"HeaderTag\"\
        :null,\"HasHeaderTag\":false,\"UnitWeightInGrams\":460,\"SupplyLimitMessage\"\
        :\"'Annalisa Tomatoes Diced' has a supply limit of 10. The quantity in your\
        \ cart has been reduced accordingly. To purchase a larger quantity, please\
        \ contact us on 1800 000 610. Please note we do not supply trade orders.\"\
        ,\"SmallFormatDescription\":\"Annalisa Tomatoes Diced\",\"FullDescription\"\
        :\"Annalisa Tomatoes Diced\",\"IsAvailable\":false,\"InstoreIsAvailable\"\
        :false,\"IsPurchasable\":false,\"InstoreIsPurchasable\":false,\"AgeRestricted\"\
        :false,\"DisplayQuantity\":1,\"RichDescription\":\"Annalisa Italian Diced\
        \ Tomatoes\",\"IsDeliveryPass\":false,\"HideWasSavedPrice\":false,\"SapCategories\"\
        :{\"SapDepartmentName\":\"GROCERIES\",\"SapCategoryName\":\"CANNED VEGETABLES\"\
        ,\"SapSubCategoryName\":\"CANNED VEGETABLES\",\"SapSegmentName\":\"TOMATOES\
        \ - PIECES / CRUSHED\"},\"Brand\":\"annalisa\",\"FooterTag\":{\"TagContent\"\
        :null,\"TagLink\":null,\"FallbackText\":null,\"TagType\":\"None\"},\"IsFooterEnabled\"\
        :false,\"Diagnostics\":\"0\",\"IsBundle\":false,\"IsInFamily\":false,\"ChildProducts\"\
        :[],\"UrlOverride\":null,\"AdditionalAttributes\":{\"sapdepartmentname\":\"\
        GROCERIES\",\"sapdepartmentno\":\"5\",\"sapcategoryname\":\"CANNED VEGETABLES\"\
        ,\"sapcategoryno\":\"71\",\"sapsubcategoryname\":\"CANNED VEGETABLES\",\"\
        sapsubcategoryno\":\"827\",\"sapsegmentname\":\"TOMATOES - PIECES / CRUSHED\"\
        ,\"sapsegmentno\":\"20\",\"specialsgroupid\":null,\"PiesProductDepartmentNodeId\"\
        :\"1_39FD49C\",\"PiesProductDepartmentsjson\":\"[{\\\"Id\\\":\\\"1_39FD49C\\\
        \",\\\"Description\\\":\\\"Pantry\\\"}]\",\"piesdepartmentnamesjson\":\"[\\\
        \"Pantry\\\"]\",\"piescategorynamesjson\":\"[\\\"Canned Food & Instant Meals\\\
        \"]\",\"piessubcategorynamesjson\":\"[\\\"Canned Tomatoes\\\",\\\"Canned Vegetables\\\
        \",\\\"Canned Beans & Legumes\\\"]\",\"servingsize-total-nip\":null,\"servingsperpack-total-nip\"\
        :null,\"microwaveable\":\"False\",\"ovencook\":\"False\",\"vegetarian\":\"\
        False\",\"freezable\":\"False\",\"containsnuts\":\"False\",\"containsgluten\"\
        :\"False\",\"description\":\"Annalisa Italian Diced Tomatoes\",\"ingredients\"\
        :\"Diced tomatoes, tomato juice\",\"nutritionalinformation\":\"{\\\"Name\\\
        \":\\\"Nutritional Information\\\",\\\"Attributes\\\":[{\\\"Id\\\":705,\\\"\
        Name\\\":\\\"Carbohydrate Quantity Per 100g - Total - NIP\\\",\\\"Value\\\"\
        :\\\"3,9g\\\",\\\"Description\\\":\\\"Carbohydrate Quantity Per 100g - Total\
        \ - NIP\\\",\\\"SortOrder\\\":83},{\\\"Id\\\":706,\\\"Name\\\":\\\"Carbohydrate\
        \ Quantity Per Serve - Total - NIP\\\",\\\"Value\\\":\\\"5,2g\\\",\\\"Description\\\
        \":\\\"Carbohydrate Quantity Per Serve - Total - NIP\\\",\\\"SortOrder\\\"\
        :87},{\\\"Id\\\":759,\\\"Name\\\":\\\"Energy kJ Quantity Per 100g - Total\
        \ - NIP\\\",\\\"Value\\\":\\\"98kJ(23kCal)\\\",\\\"Description\\\":\\\"Energy\
        \ kJ Quantity Per 100g - Total - NIP\\\",\\\"SortOrder\\\":239},{\\\"Id\\\"\
        :760,\\\"Name\\\":\\\"Energy kJ Quantity Per Serve - Total - NIP\\\",\\\"\
        Value\\\":\\\"130kJ\\\",\\\"Descriptio[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.woolworths.com.au/apis/ui/product/detail/223995
  response:
    body:
      string: "{\"Product\":{\"TileID\":0,\"Stockcode\":223995,\"Barcode\":\"9310140001807\"\
        ,\"GtinFormat\":13,\"CupPrice\":null,\"InstoreCupPrice\":null,\"CupMeasure\"\
        :\"100G\",\"CupString\":\"\",\"InstoreCupString\":\"\",\"HasCupPrice\":false,\"\
        InstoreHasCupPrice\":false,\"Price\":null,\"InstorePrice\":null,\"Name\":\"\
        Sunrice Jasmine Rice Thai\",\"UrlFriendlyName\":\"sunrice-jasmine-rice-thai\"\
        ,\"Description\":\" Sunrice Jasmine Rice Thai 5kg\",\"SmallImageFile\":\"\
        https://cdn0.woolworths.media/content/wowproductimages/small/223995.jpg\"\
        ,\"MediumImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/medium/223995.jpg\"\
        ,\"LargeImageFile\":\"https://cdn0.woolworths.media/content/wowproductimages/large/223995.jpg\"\
        ,\"IsNew\":false,\"IsOnSpecial\":false,\"InstoreIsOnSpecial\":false,\"IsEdrSpecial\"\
        :false,\"SavingsAmount\":null,\"InstoreSavingsAmount\":null,\"WasPrice\":0,\"\
        InstoreWasPrice\":0,\"QuantityInTrolley\":0,\"Unit\":\"Each\",\"MinimumQuantity\"\
        :1,\"HasBeenBoughtBefore\":false,\"IsInTrolley\":false,\"Source\":\"ProductDetail\"\
        ,\"SupplyLimit\":1,\"IsRanged\":false,\"IsInStock\":true,\"PackageSize\":\"\
        5kg\",\"IsPmDelivery\":false,\"IsForCollection\":false,\"IsForDelivery\":false,\"\
        IsForExpress\":false,\"ProductRestrictionMessage\":null,\"ProductWarningMessage\"\
        :null,\"CentreTag\":{\"TagContent\":null,\"TagLink\":null,\"FallbackText\"\
        :null,\"TagType\":\"None\"},\"IsCentreTag\":false,\"ImageTag\":{\"TagContent\"\
        :null,\"TagLink\":null,\"FallbackText\":\"\",\"TagType\":\"None\"},\"HeaderTag\"\
        :null,\"HasHeaderTag\":false,\"UnitWeightInGrams\":5000,\"SupplyLimitMessage\"\
        :\"'Sunrice Jasmine Rice Thai' has a supply limit of 1. The quantity in your\
        \ cart has been reduced accordingly. To purchase a larger quantity, please\
        \ contact us on 1800 000 610. Please note we do not supply trade orders.\"\
        ,\"SmallFormatDescription\":\"Sunrice Jasmine Rice Thai\",\"FullDescription\"\
        :\"Sunrice Jasmine Rice Thai\",\"IsAvailable\":false,\"InstoreIsAvailable\"\
        :false,\"IsPurchasable\":false,\"InstoreIsPurchasable\":false,\"AgeRestricted\"\
        :false,\"DisplayQuantity\":1,\"RichDescription\":\"<div><strong><em>In order\
        \ to support as many customers as possible, rice packs of 2kg and above are\
        \ limited to 1 per order.<br>We apologise for the inconvenience and thank\
        \ you for your patience.</em></strong></div><br><br><p>SunRice Australian\
        \ Jasmine Fragrant Rice is delicately aromatic and fluffy. </p><p><span style=\\\
        \"background-color: transparent;\\\">Long, slender, Fragrant grains define\
        \ this classic rice variety. When cooked,the grains display a delicate Fragrance.\
        \ Jasmine is the preferred rice in Southeast Asian cooking.</span><br/></p><p>The\
        \ heart of Thai cuisine.</p><p>Gluten free.</p>\",\"IsDeliveryPass\":false,\"\
        HideWasSavedPrice\":false,\"SapCategories\":{\"SapDepartmentName\":\"GROCERIES\"\
        ,\"SapCategoryName\":\"PASTA / RICE\",\"SapSubCategoryName\":\"RICE\",\"SapSegmentName\"\
        :\"RICE - JASMINE\"},\"Brand\":\"sunrice\",\"FooterTag\":{\"TagContent\":null,\"\
        TagLink\":null,\"FallbackText\":null,\"TagType\":\"None\"},\"IsFooterEnabled\"\
        :false,\"Diagnostics\":\"0\",\"IsBundle\":false,\"IsInFamily\":false,\"ChildProducts\"\
        :[],\"UrlOverride\":null,\"AdditionalAttributes\":{\"sapdepartmentname\":\"\
        GROCERIES\",\"sapdepartmentno\":\"5\",\"sapcategoryname\":\"PASTA / RICE\"\
        ,\"sapcategoryno\":\"59\",\"sapsubcategoryname\":\"RICE\",\"sapsubcategoryno\"\
        :\"75\",\"sapsegmentname\":\"RICE - JASMINE\",\"sapsegmentno\":\"9\",\"specialsgroupid\"\
        :null,\"PiesProductDepartmentNodeId\":\"1_39FD49C\",\"PiesProductDepartmentsjson\"\
        :\"[{\\\"Id\\\":\\\"1_39FD49C\\\",\\\"Description\\\":\\\"Pantry\\\"}]\",\"\
        piesdepartmentnamesjson\":\"[\\\"Pantry\\\"]\",\"piescategorynamesjson\":\"\
        [\\\"Pasta, Rice & Grains\\\"]\",\"piessubcategorynamesjson\":\"[\\\"Rice\\\
        \"]\",\"servingsize-total-nip\":null,\"servingsperpack-total-nip\":null,\"\
        microwaveable\":\"False\",\"ovencook\":\"False\",\"vegetarian\":\"False\"\
        ,\"freezable\":\"False\",\"containsnuts\":\"False\",\"containsgluten\":\"\
        False\",\"description\":\"<div><strong><em>In order to support as many customers\
        \ as possible, rice packs of 2kg and above are limited to 1 per order.<br>We\
        \ apologise for the inconvenience and thank you for your patience.</em></strong></div><br><br><p>SunRice\
        \ Australian Jasmine Fragrant Rice is delicately aromatic and fluffy. </p><p><span\
        \ style=\\\"background-color: transparent;\\\">Long, slender, Fragrant grains\
        \ define this classic rice variety. When cooked,the grains display a delicate\
        \ Fragrance. Jasmine is the preferred rice in Southeast Asian cooking.</span><br/></p><p>The\
        \ heart of Thai cuisine.</p><p>Gluten free.</p>\",\"ingredients\":\"Australian\
        \  Milled Jasmine Rice.\",\"nutritionalinformation\":\"{\\\"Name\\\":\\\"\
        Nutritional Information\\\",\\\"Attributes\\\":[{\\\"Id\\\":705,\\\"Name\\\
        \":\\\"Carbohydrate Quantity Per 100g - Total - NIP\\\",\\\"Value\\\":\\\"\
        77.0g\\\",\\\"Description\\\":\\\"Carbohydrate Quantity Per 100g - Total -\
        \ NIP\\\",\\\"SortOrder\\\":83},{\\\"Id\\\":706,\\\"Name\\\":\\\"Carbohydrate\
        \ Quantity Per Serve - Total - NIP\\\",\\\"Value\\\":\\\[...]
[...]
