interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.woolworths.com.au/apis/ui/product/detail/111111
  response:
    body:
      string: '{"Product":null,"Nutrition":null,"VideoUrl":null,"PrimaryCategory":null,"AdditionalAttributes":null,"TgaAttributes":null,"DetailsImagePaths":null,"NutritionalInformation":null,"RichRelevancePlacements":null,"IsTobacco":false,"CountryOfOriginLabel":null}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://www.woolworths.com.au/apis/ui/product/detail/111111
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.woolworths.com.au/apis/ui/product/detail/222222
  response:
    body:
      string: '{"Product":null,"Nutrition":null,"VideoUrl":null,"PrimaryCategory":null,"AdditionalAttributes":null,"TgaAttributes":null,"DetailsImagePaths":null,"NutritionalInformation":null,"RichRelevancePlacements":null,"IsTobacco":false,"CountryOfOriginLabel":null}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://www.woolworths.com.au/apis/ui/product/detail/222222
version: 1
